
/* body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
} */
/* .container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
 .container .card{
   
    position: relative;
    /* width: 300px; */
    /* height: 420px; */
   
    /* margin: 20px; */
    /* border-radius: 20px; */
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
    transition: 0.5s;
}
.container:hover .card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}
.container .card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

.container{align-items: center;}