body{
    font-family: Georgia, serif;
    color: #252525;
    
}

.navbar #img-topo3{
    width: 350px;
}
.navbar #img-topo2{
    width: 350px;
}
.navbar #img-topo4{
    width: 100px;
}
.navbar #img-topo5{
    width: 250px;
}

.nav-item{
    border-radius: 40%;
    margin-left: 15px;
    text-transform: uppercase
}
/* carrousel */
.section-1{
    margin: 130px 0px 0px 0;   
 
    
}
.intro h1
{
    text-transform: uppercase;
    font-size: 3em;
}
.intro h1::after
{
    content: "";
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}
/* SERVIÇOS ------------------------------------------------------------------*/


.section-2{

        
    
}
.menu-vert{
    /* color: chartreuse; */
}
.menu-vert:hover{
    background: #EEEEEE;
    border-radius: 10px;

}
.servicos img{
    border:5px solid #F6F6F6;
    border-radius: 50%;
    
}
.card-img
{
    width: 150px;

}
.img-serv
{
    width: 200px;
}

.rustico img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 150px;
    border:  1px solid #ddd;
    border-radius: 5%;
}
.highslide{
    width: 50px;
}
.highslide-caption{
    width: 100%;
    
}
.cozinha img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 200px;
    border:  1px solid #ddd;
    border-radius: 5%;
}
.face img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    width: 200px;
    border:  1px solid #ddd;
    border-radius: 5%;
}


/*  PRODUTO------------------------------------------------------------- */
.img-produto{
   width: 350px;
   border:5px solid #F6F6F6;
   border-radius: 50%;
}
.faceshield{
   font-size: 2.em;
   line-height: 1em;
   background: #252525;
   width: 200px;
   color: #fff;
   font-style: italic;
   font-weight: normal;
   text-align: center;
   padding: 5px 0 0 0;
   margin: 5px 0 0 50px;
   top: -350px;
   position: relative;
   
}
.barreira{
   font-size: 2.em;
   line-height: 1em;
   background: #252525;
   width: 300px;
   color: #fff;
   font-style: italic;
   font-weight: normal;
   text-align: center;
   padding: 5px 0 0 0;
   margin: 5px 0 0 50px;
   top: -350px;
   position: relative;
   
}
.papelparede{
   font-size: 2.em;
   line-height: 1em;
   background: #252525;
   width: 300px;
   color: #fff;
   font-style: italic;
   font-weight: normal;
   text-align: center;
   padding: 5px 0 0 0;
   margin: 5px 0 0 50px;
   top: -350px;
   position: relative;
   
}
.crialogo{
   font-size: 2.em;
   line-height: 1em;
   background: #252525;
   width: 300px;
   color: #fff;
   font-style: italic;
   font-weight: normal;
   text-align: center;
   padding: 5px 0 0 0;
   margin: 5px 0 0 50px;
   top: -350px;
   position: relative;
   
}

.item-produto{
   margin-top: 50px;
}

.local{
   border:5px solid #F6F6F6;
}

.sombra:hover{
   background-color: #F8F9FA;
   cursor: pointer;

}
.ordenar{
   display: flex;
}
@media(max-width:500px){

    .ordenar .item-1{
       order:2;

   } 

}
/* localizacão */
@media(max-width:500px){
    .local{
       width: 450px;
    }
}
@media(max-width:1199px){
    .local{
       display: block;
       margin: 0 auto;
    }
}

@media(max-width:1600px){
    .local{
       display: block;
       margin: 0 auto;
    }
}

