ul li{
    text-transform: uppercase;
    font-size: 13px;
}
ul li:hover{
    background:rgba(0, 0, 0, .05);
    color: royalblue;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 1);
}
 

.text-banner{
    
    color: whitesmoke;
    font-size: 1.6rem;
    font-weight: 400;
    filter:drop-shadow(1px 1px 2px #fff);
    
}
  
.section-1{
    height: 250px;
    margin-top: 130px;
    background: url(../img/destaque_modif.jpg); 
    background-color: #343A40;
    background-repeat: no-repeat;
    
 }
@media(max-width:500px){

    #img-topo{
        width: 100px;
        margin-left: 150%;

     }
      
}
#titulo-topo{
    filter:drop-shadow(1px 2px 5px #000);
}

#infor-estagio-1, #infor-estagio-2{
    border-right: 1px solid silver;
   }
@media(max-width:991px){

     .infor-estagio{
         border-right: none;
     }
     #infor-estagio-1, #infor-estagio-2{
         border-right: none;
         border-bottom: 1px solid silver;
    }
}

.infor-estagio:hover {
        transition: 0.1s;
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        color: black;
}           


.titulo::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #2a2426;
    margin-top: 14px;
    
}

.img-estagio{
    width: 300px;
    border-radius: 5px;
    
}
.texto-estagio{
    
    font-size: 16px;
}

.sobreamento:hover{
    background-color: rgba(236, 236, 236, 1.0);
}



p{text-align: justify;}
#okd{width: 200px;}
#tek{width: 80px;}
#avatar{width: 220px;}
#antares{width: 150px;}
#artefinal{width: 120px;}
#pro{width: 120px;}
#prof{color: #fff}
#img-topo{width: 100px;}
body{background-color:#F8F9FA}
#table{width: 100%; height: 100%;}