#lei{color:white;
	text-decoration: none}
p{text-align: justify;}
#artefinal{width: 80px;}
#tek{width: 80px;}
#avatar{width: 180px;}
#antares{width: 80px;}
#artefinal{width: 80px;}
#pro{width: 120px;}
#prof{color: #fff}
