#lei{color:white;
	text-decoration: none}
p{text-align: justify;}
#artefinal{width: 80px;}
#tek{width: 80px;}
#avatar{width: 180px;}
#antares{width: 80px;}
#artefinal{width: 80px;}
#pro{width: 120px;}
#prof{color: #fff}
body{background-color: #E9ECEF;}
#table{width: 100%; height: 100%;}
div#estagio, #lei_1, #empresa {transition: .9s;}
.main-btn{
    background-color: #65DAF9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover{
    text-decoration: none;
    color: #000;
    background-color: transparent;
    border-color:#64DAF9 ;
}
